
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form method="post" action="~/Home/Login">
    <div>
        Username: <input name="username" />
    </div>
    <div>
        <button>Login</button>
    </div>
</form>

