<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Banner</h1>

    @RenderBody()

    <h6>Footer</h6>
</body>
</html>
